.home {
    &--hero {
        min-height: 50dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $yellow;
        &__txt {
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
            h1 {
                text-align: center;
                opacity: 0;
                @include screen550 {
                    font-size: 3rem;
                }
                @include screen400 {
                    font-size: 2.5rem;
                    padding: .2rem;
                }
            }
            h2 {
                font-size: .8rem;
                text-transform: uppercase;
                text-align: center;
                margin: .3rem auto;
                max-width: 750px;
                font-family: $fontBodyText;
                font-weight: 300;
                opacity: 0;
            }
        }
        &__tags {
            flex: 1;
            display: flex;  
            justify-content: space-between;
            align-items: center;
            padding: 5rem .5rem .2rem .5rem;
            h5 {
                border: $black 1px solid;
                padding: .2rem .4rem;
                opacity: 0;
            }
            span {
                display: block;
                opacity: 0;
            }
            span:first-child {
                font-family: $displayFont;
                font-size: 1.8rem;
                @include screen400 {
                    font-size: 1.2rem;
                }
            }
            @include screen550 {
                span:last-child {
                    display: none;
                }
            }
            @include screen400 {
                span:first-child {
                    font-size: 1.2rem;
                }
                h5 {
                    font-size: .6rem;
                }
            }
        }
    }
    &--intro {
        & p {
            display: none;
            font-size: 1.5rem;
            strong {
                font-family: $fontBodyTextSBdIt;
            }
            @include screen550 {
                display: block;
            }
            @include screen400 {
                font-size: 1.2rem;
            }
        }
        .home--intro__p1 {
            padding: 6rem 1rem 5rem 1rem;

        }
        .home--intro__p2 {
            padding: 0rem 1rem 6rem 1rem;
        }
        .scroll-wrapper {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            @include screen550 {
                display: none;
            }
            .line {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 60px;
                & span {
                    font-size: 1.8rem;
                    position: absolute;
                    display: block;
                    width: 100%;
                    @include screen1024 {
                        font-size: 1.3rem;
                    }
                    @include screen768 {
                        font-size: 1rem;
                    }
                    strong {
                        font-family: $fontBodyTextSBdIt;
                    }
                }
            }
        }
        .hp-gsap-intro-scroll {
            padding-top: 6rem;
            padding-bottom: 5rem;
            @include screen1024 {
                padding: 6rem 1rem 5rem 1rem;
            }
        }
        .hp-gsap-intro-scroll-2 {
            padding-bottom: 6rem;
            @include screen1024 {
                padding: 0rem 1rem 6rem 1rem;
            }
        }
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 30px;
            background-color: $black;
        
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 30px;
            background-color: $black;
        
        }
    }
    &--projects {
        &__intro {
            background-color: $pink;
            min-height: 80dvh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div:first-child {
                flex: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                max-width: 900px;
                @include screen550 {
                    padding: 1rem;
                }
                .title {
                    display: block;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: $displayFont;
                    font-size: 3.5rem;
                    @include screen550 {
                        font-size: 3rem;
                    }
                    @include screen400 {
                        font-size: 2rem;
                    }
                }
                .pr-txt {
                    text-transform: uppercase;
                    font-family: $fontBodyText;
                    font-weight: 300;
                    font-size: .7rem;
                }
                .img-arw {
                    margin-top: 1rem;
                    align-self: flex-end;
                    transform: rotate(45deg);

                }
            }
            .square-container {
                width: 100%;
                height: 20px;
                background-image: repeating-conic-gradient($white 0% 25%, $pink 0% 50%);
                background-position: 0 0, 21px 21px;
                background-size: 42px 42px;
                background-color: $pink;
            }
            
        }
        &__items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .square-container {
                width: 100%;
                height: 20px;
                background-image: repeating-conic-gradient($pink 0% 25%, $white 0% 50%);
                background-position: 0 0, 21px 21px;
                background-size: 42px 42px;
                background-color: $white;
            }
            .card-container {
                margin: 2rem 0 0 0;
                padding: 5rem 0;
                display: flex;
                align-items:flex-start;
                justify-content: space-around;
                /* border-bottom: 1px solid $black; */
                .project-card {
                    @include projectCard;
                }
                @include screen768 {
                    flex-direction: column;
                    align-items: center;
                    .project-card {
                        margin: 1rem 0;
                    }
                }
                @include screen550 {
                    margin: 1rem;
                    .project-card {
                        margin: 1rem;
                    }

                }
            }
        }
    }
    &--extra {
        &__img {
            min-height: 50dvh;
            background-color: $black;
            padding: 3rem;
            @include screen1024 {
                padding: 2.5rem;
            }
            @include screen768 {
                padding: 1rem;
            }
            .img-bck {
                min-height: 75dvh;
                background-image: url('../../images/ux-ui-designer-toulouse.webp');
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                & h2 {
                    text-align: center;
                    color: $yellow;
                    font-size: 5rem;
                    text-shadow: 2px 2px 4px $black;
                    text-transform: uppercase;
                    @include screen768 {
                        font-size: 4rem;
                    }
                    @include screen550 {
                        font-size: 3rem;
                    }
                    @include screen400 {
                        font-size: 2.5rem;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 2%;
                    left: 2%;
                    width: 10%;
                    height: 5%;
                    border-left: 2px solid $yellow;
                    border-bottom: 2px solid $yellow;
                }
            }
            .extr-date {
                display: flex;
                margin-bottom: 1rem;
                overflow: hidden;
                > div {
                    span {
                        color: $yellow;
                        text-transform: uppercase;
                        font-size: .7rem;
                    }
                    span:first-child {
                        font-family: $fontBodyTextSBold;
                        font-size: 2rem;
                    }
                }
                > span {
                    flex: 3;
                    border-right: dotted 2px $yellow;
                    border-top: dotted 2px $yellow;
                    margin: .5rem 0 0 2rem;
                }
            }
            .extr-txt {
                display: flex;
                margin-top: 2rem;
                > div {
                    flex: 1 1 0px;
                }
                @include screen550 {
                    flex-direction: column-reverse;
                }
                .extr-line {
                    display: flex;
                    > div {
                        flex: 1;
                        h4 {
                            font-family: $fontBodyTextThin;
                            font-size: .6rem;
                            text-transform: uppercase;
                            color: $yellow;
                        }
                    }
                    > span {
                        margin: 0 1rem;
                        flex: 1;
                        border-bottom: solid 2px $yellow;
                    }
                }
                .extr-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    > div {
                        border: $yellow 1px solid;
                        border-radius: 25px;
                        padding-left: 2rem;
                        display: inline-block;
                    }
                    h3 {
                        text-align: right;
                        padding: .2rem .8rem;
                        border-radius: 25px;
                        font-family: $fontBodyTextSBold;
                        text-transform: uppercase;
                        font-size: .6rem;
                        border: $yellow 1px solid;
                    }
                    .light {
                        & h3 {
                            background-color: $yellow;
                            color: $black;
                        }
                    }
                    .dark {
                        background-color: $yellow;
                        & h3 {
                            background-color: $black;
                            color: $yellow;
                        }
                    }
                    @include screen1024 {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                    @include screen550 {
                        > div {
                            margin: .5rem 0;
                        }
                    }
                    
                }
            }
        }
        &__services {
            padding: 3rem 0;
            margin-bottom: 5rem;
            & .s-div {
                display: flex;
                > div {
                    flex: 1 1 0px;
                    margin: 1rem;
                    padding: 3rem 2rem;
                    border: $black 1px solid;
                    h3 {
                        padding-bottom: 1rem;
                    }
                    @include screen550 {
                        padding: 1.5rem 1rem;
                        margin: 1rem .5rem;
                    }
                }
            }
            & .intro-s {
                div:first-child {
                    background-image: url('../../images/site-web-design.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                    min-height: 300px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 3%;
                        left: 2%;
                        height: 50%;
                        width: 90%;
                        border: $yellow 3px dotted;
                        border-top: none;
                        border-right: none;
                    }
                }
                div:last-child {
                    background-color: $yellow;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 4%;
                        right: 2%;
                        height: 20px;
                        width: 20px;
                        background-color: $black;
                        @include screen550 {
                            top: 2%;
                        }
                    }
                }
                @include screen768 {
                    flex-direction: column;
                }
            }
            & .s-01 {
                div:first-child {
                    background-color: $pink;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 3%;
                        left: 2%;
                        height: 20px;
                        width: 20px;
                        background-color: $black;
                        clip-path: polygon(0 0, 0% 100%, 100% 100%);
                        @include screen550 {
                            bottom: 2%;
                            left: 2%;
                        }
                    }
                }
                div:last-child {
                    background-color: $black;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 3%;
                        left: 2%;
                        height: 20px;
                        width: 20px;
                        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                        background-color: $white;
                        @include screen550 {
                            top: 2%;
                        }
                    }
                    h3, p {
                        color: $white;
                    }
                }
                @include screen768 {
                    flex-direction: column;
                }
            }
            & .s-02 {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                text-align: center;
                margin: 1rem auto;
                padding: 3rem 2rem;
                border: $black 1px solid;
                width: 50%;
                text-align: left;
                color: $pink;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 3%;
                    right: 1%;
                    height: 30%;
                    width: 20%;
                    border: $black 2px dotted;
                    border-top: none;
                    border-left: none;
                    @include screen550 {
                        bottom: 2%;
                        right: 2%;
                    }
                }
                h3 {
                    padding-bottom: 1rem;
                }
                @include screen1024 {
                    width: 80%;
                }
                @include screen768 {
                    width: auto;
                    margin: 1rem;
                }
                @include screen550 {
                    padding: 1.5rem 1rem;
                    margin: 1rem .5rem;
                }
            }
        }
    }
}